<div class="container">


      <div id="containerGrafico">

       <canvas class="teste" id="canvas">{{grafico}}</canvas>
      
      </div>

    <div id="entrada">
    <h1>Entrada de Veículo</h1>
    <form [formGroup]="entrada">
      <br>
      <mat-form-field appearance="outline" color="warn" required>
        <mat-label>Placa</mat-label>
        <input matInput required formControlName="placa">
        <mat-icon matSuffix>library_add</mat-icon>
      </mat-form-field>
      <br>
      <mat-spinner class="spinner" *ngIf="showSpinner"></mat-spinner>
      <br>
      <mat-form-field appearance="outline" color="warn">
        <mat-label>Modelo</mat-label>
        <input matInput formControlName="modelo">
        <mat-icon matSuffix>library_add</mat-icon>
      </mat-form-field>
      <br>
      <br>
      <button (click)="onEntrada()" mat-raised-button color="primary">Registrar entrada</button>
      <P>{{mensagem}}</P>
    </form>
  </div>

</div>