footer{
    background:#393939;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /*flex items will wrap onto multiple lines, from top to bottom.*/
    padding: 20px;
   
  }
  .section-top{
   background: yellow;
   display: flex; 
   justify-content: center; /*items are centered along the line*/
   padding: 20px 0;
   }
  .section-bottom{
    text-align: center;
    padding: 15px 0;
    color: white;
  }
  .col{
    margin: 0 15px;
    width: 25% /*optional*/
  }
  @media all and (max-width: 600px){ /*style if screen size is <600px*/
  .section-top{
      flex-direction: column;
  }    
  .col{
    text-align: center;
    width: 100%;
    margin: 0
  }
}