<div class="fundo">

    <div class="principal">
        <br>
        <p>SIMPLICIDADE, CONVENIÊNCIA E SEGURANÇA</p>
        <br>
        <br>
        <p>GESTÃO INTELIGENTE RÁPIDA</p>
    </div>
    <br>
    <br>

    <div class="containerCard">

        <mat-card class="card">
            <mat-card-title>Dashboard</mat-card-title>
            <a [routerLink]="[ '/grafico']"><img mat-card-image src="../../assets/grafico.png" alt=""></a>

            <mat-card-content>
                <p>
                    Os indicadores de desempenho, também chamados de KPI,
                    são métricas que quantificam sua performance de acordo com seus objetivos
                </p>
            </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="card">
            <mat-card-title>Negociações</mat-card-title>
            <a href=""><img mat-card-image src="../../assets/acordos.png" alt=""></a>
            <mat-card-content>
                <p>
                    Um acordo é um convénio entre duas ou mais partes ou uma resolução premeditada de uma ou mais pessoas.
                </p>
            </mat-card-content>
            
        </mat-card>
        <br>
        <mat-card class="card">
            <mat-card-title>Reserva</mat-card-title>
            <a href=""><img mat-card-image src="../../assets/reserva.png" alt=""></a>

            <mat-card-content>
                <p>
                    Clientes cadastrados podem reservar seus horarios
                </p>
            </mat-card-content>
            descentralizada.png
            teste3
        </mat-card>
    </div>
</div>